.primary-color{
    background-color: #2563EB;
}
.secondary-color{
    background-color: #0F172A;
}
.inverted-color{
    background-color: #22C55E;
}
.outlined-color{
    background-color: #64748B;
}

